@media screen and (max-width: 1366px) {
    html {
        zoom: 0.75;
        zoom: 67%;
    }
  }


@media screen and (max-width:1280px) {
    html {
        zoom: 0.75;
        zoom: 67%;
    }
  }